$green: #bacd92;
$deep-green: #75a47f;
$blue: #61759f;

@mixin button-style {
  color: #ffffff;
  font-weight: bold;
  border: 1px solid $green;
  background-color: $green;
  width: 40%;
  border-radius: 18px;
  margin-top: 20px;
  padding: 6px 15px;
}

@mixin blue-btn-style {
  color: #ffffff;
  font-weight: bold;
  border: 1px solid $blue;
  background-color: $blue;
  border-radius: 16px;
  margin: 20px 0;
  padding: 6px 15px;
}

.frist-next-button {
  @include button-style;
  width: 100%;
}

.frist-next-button:hover {
  border: 1px solid $deep-green;
  background-color: $deep-green;
}

.navi-btn {
  display: flex;
  text-align: center;
  justify-content: space-between;

  .next-button {
    @include button-style;
  }

  .next-button:hover {
    border: 1px solid $deep-green;
    background-color: $deep-green;
  }
}

.login-btn,
.signup-btn {
  color: #ffffff;
  font-weight: bold;
  border: 1px solid $green;
  background-color: $green;
  width: 100%;
  border-radius: 18px;
  margin-top: 20px;
  padding: 6px 15px;
}

.login-btn:hover,
.signup-btn:hover,
.big-button:hover {
  border: 1px solid $deep-green;
  background-color: $deep-green;
  color: #093030;
}

.blue-btn {
  @include blue-btn-style;
  width: -webkit-fill-available;
}

.circle-btn {
  border: 1px solid #bacd92;
  background-color: #bacd92;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #ffffff;
  margin: 10px auto;
}
