$bg-color1: #75a47f;
$bg-color2: #bacd92;

.wrap {
  background: linear-gradient(to left, $bg-color1, $bg-color2);

  .bgTop {
    height: 140px;
  }

  .bgBottom {
    padding: 30px 20px;
    height: 100%;
    background-color: #ffffff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}
