@import '../styles/variables';
.Contain {
  min-width: 320px;
  @include desktop {
    // width: 1100px;
    // margin: 0 auto;
    display: flex;
  }

  select {
    background-image: url('../images/icon-select.png');
    background-repeat: no-repeat;
    background-position: right 10px center; /* 화살표 위치 조정 */
    background-size: 20px;
    display: inline-block;
    position: relative;
    -webkit-appearance: none; /* Chrome, Safari에서 기본 화살표 제거 */
    -moz-appearance: none; /* Firefox에서 기본 화살표 제거 */
    appearance: none; /* 최신 브라우저에서 기본 화살표 제거 */
    padding-right: 60px;
  }
  @include mobile {
    a {
      text-decoration: none;
      color: #ffffff;
      &.hover {
        cursor: pointer;
      }
    }
  }
}

.textLimit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

img {
  max-width: 100%;
}
.nonePost {
  border: 1px solid rgb(186, 205, 146);
  border-radius: 10px;
  padding: 20px;
  text-align: center;

  span {
    font-weight: 700;
    color: #666666;
  }
}
// button {
//   transition: all 0.2s ease;
// }

button:hover {
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // transform: scale(0.99);
  //웹사이트에서는 크기가 줄어드는게 아님...
}

button:active {
  transform: scale(0.98);
}
