@import '../styles/variables';

@include mobile {
  .mainProfile {
    padding-left: 40px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 40px;
    width: 100%;
  }
  th,
  td {
    width: 100px;
    height: 50px;
    text-align: center;
    border: 1px solid #247d9b;

    vertical-align: top;
    vertical-align: bottom;
    vertical-align: middle;
  }
  .period {
    font-weight: 600;
  }
}
