$under-line: #e9ae24;
$green: #bacd92;
$deep-green: #75a47f;
$blue: #61759f;

@import '../styles/variables';
@import '../styles/input_common';

@include mobile {
  .background {
    width: 100vw;
    height: 100vh;
    background-color: $deep-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 2s ease;
  }

  .logo-wrap {
    display: flex;
    flex-direction: column;
  }

  .button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: visibility 0s, opacity 1s ease;
    width: 100%;
    height: 15%;
  }

  /* NationBuilding */

  .background2 {
    width: 100vw;
    height: 100vh;
    background-color: #fcffe0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-wrap2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
  }

  .big-button {
    color: #ffffff;
    font-weight: bold;
    border: 1px solid $green;
    background-color: $green;
    border-radius: 18px;
    margin-top: 20px;
    padding: 6px 15px;
    width: 180px;
  }
}

@include desktop {
  .background {
    width: 100vw;
    height: 100vh;
    background-color: $deep-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 2s ease;
  }

  .logo-wrap {
    display: flex;
    flex-direction: column;
  }

  .button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: visibility 0s, opacity 1s ease;
    width: 100%;
    height: 15%;
  }

  /* NationBuilding */

  .background2 {
    width: 100vw;
    height: 100vh;
    background-color: #fcffe0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-wrap2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
  }
  .big-button {
    width: 300px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid $green;
    background-color: $green;
    border-radius: 18px;
    margin-top: 20px;
    padding: 6px 15px;
  }
}
