@import '../styles/variables';
@import '../styles/input_common';

@include mobile {
  .user-login-title,
  .user-signup-title {
    color: #a5a5a5;
    font-size: 14px;
  }

  .user-login,
  .user-signup {
    width: -webkit-fill-available;
    @include select-common;
  }

  .pw-error {
    font-size: 14px;
    color: #e03232;
  }

  .pwFind-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pwFind-text {
      font-size: 14px;
      font-weight: 800;
      color: #093030;
    }
  }
}
