@import '../styles/variables';

@include mobile {
  .managerInfo {
    display: flex;
    box-sizing: border-box;
    left: 30px;
    top: 40px;
    position: relative;
  }

  .InfoPart1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .MainProfileBox {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .countryUrl {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    img {
      width: 19px;
      height: 19px;
      cursor: pointer;
    }
    .countryLink {
      display: block;
      font-size: 15px;
      margin-left: 2px;
    }
  }

  .content {
    // border: 1px solid #d4fcd7;
    background-color: #d9d9d9;
    border-radius: 18px;
    padding: 20px;
    height: auto;

    .newsHead {
      font-weight: bold;
      font-size: 18px;
    }
    .newsContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .registerBtn {
      // border: 1px solid rgb(246, 193, 193);
      border-radius: 4px;
      background-color: #fff5d6;
      padding: 5px;
    }
  }
}
