$under-line: #e9ae24;

.select-common {
  border: none;
  border-bottom: 1px solid $under-line;
  background-color: transparent;
  outline: none;
  padding: 5px 10px;
  margin: 10px 0 20px 0;
}

.title-list {
  font-size: 12px;
  li {
    color: #777777;
  }
}

.set-country-title {
  color: #a5a5a5;
}

.set-country-detail {
  width: -webkit-fill-available;
  @extend .select-common;
}

.set-salary {
  display: flex;
  align-items: center;

  .set-salary-text {
    margin: 10px 0 20px 0;
  }

  select {
    width: 80%;
    @extend .select-common;
  }
}
