$under-line: #e9ae24;

@import '../styles/variables';
@import '../styles/input_common';

@include mobile {
  .title-list {
    font-size: 14px;

    li {
      font-size: 12px;
      color: #777777;
    }
  }

  .select-student-id-title {
    color: #a5a5a5;
  }

  .select-school-name {
    width: -webkit-fill-available;
    @include select-common;
  }

  .select-student-id {
    display: flex;
    flex-direction: column;

    select {
      width: -webkit-fill-available;
      @include select-common;
    }
  }
}
